name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Timestamp Tag
        id: timestamp
        run: echo "tag=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_OUTPUT

      - name: Show Docker Tag (Requirement 2.5)
        run: |
          echo "Vreme kreiranja Docker slike: ${{ steps.timestamp.outputs.tag }}"
          echo "Ovaj korak ispunjava zahtev za format yyyymmdd-hhmmss"
